*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: black;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card{
  height: 350px;
  width: 300px;
  background-color: #333;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #111;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #111;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 10px;
  gap: 3px;
  background-color: transparent;
  cursor: pointer;
  color: #b1b1b1;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #111;
  padding-top: 20px;
}

.bottom button{
  display: flex;
  align-items: center;
  border: 1px solid #111;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 10px;
  gap: 3px;
  background-color: transparent;
  cursor: pointer;
  color: #b1b1b1;
}


.center h3{
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 20px;
}

.center h3 span{
  font-size: 12px;
  font-weight: 400;
  color: #b1b1b1;
}

.center h2{
  font-size: 24px;
  
  padding-bottom: 20px;
}

.center .tag{
  display: flex;
  gap: 10px;
}

.center .tag h4{
  font-size: 12px;
  font-weight: 400;
  background-color: #111;
  color: #b1b1b1;
  border: 1px solid #111;
  border-radius: 5px;
  padding: 4px 8px;
}
